<?xml version="1.0" encoding="UTF-8" ?>

<config>
    <entry key="title" label="Title">Targeted Activity</entry>
    <entry key="icon" private="true">http://commons.omniupdate.com/favicon.ico</entry>
    <entry key="description" private="true">Lists the most recent actions performed in OU Campus by yourself and a select group of users.</entry>
    <entry key="thumbnail" private="true">http://fakeimg.pl/96/</entry>
    <entry key="types" private="true">dashboard, sidebar</entry>
    <!--<entry key="notifications" private="true">message</entry>-->
    <entry key="columns" private="true">1</entry>
    <entry key="initial_height" private="true">334</entry>
    
    <!--<entry key="font_size" label="Font Size" overwritable="true">14px</entry>-->
</config>