<?xml version="1.0" encoding="UTF-8" ?>

<config>
    <!-- The title that appears in the gadget's title bar. -->
    <entry key="title" label="Title">Targeted Activity</entry>
    
    <!-- The URL of an icon image. -->
    <entry key="icon" private="true">http://puck.uark.edu/ben/targetedActivity.png</entry>
    
    <!-- The description that appears in the gadget chooser. -->
    <entry key="description" private="true">Lists the most recent actions (such as publishes) performed in OU Campus by specific users.</entry>
    
    <entry key="thumbnail" private="true">http://fakeimg.pl/96/</entry>
    <entry key="types" private="true">dashboard, sidebar</entry>
    <!--<entry key="notifications" private="true">message</entry>-->
    <entry key="columns" private="true">1</entry>
    <entry key="initial_height" private="true">334</entry>
</config>
